body
{
   font-family: "Times New Roman", sans-serif, Century, "Arial Narrow";
   text-align: justify;
   background-image : url("taiji.png");
   background-attachment: fixed;
}
h1
{
  color : lightblue;
  font-size :60pt;
  text-align : center;
}

h2
{
 color: lightblue;
 text-align: center;
 font-size: 40pt;
}
.contain
{
  color : black;
  font-size : 20pt;
}
p
{
 font-size:20pt;
 color: black;
}

img
{
   display: block;
   margin-left:auto;
   margin-right:auto;
   width: 40%;
}